@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<h3 align="center"> <strong>Who are we</strong> </h3>


<address>
    We're a mixed bag of designers, developers, creatives and everything in-between. <br /> What we have in common is a passion for learning, a focus on technology and a knack for marrying those worlds to create optimum solutions for our clients.

</address>
@*Put it in alphabetical order, just to be more professional*@
<address>
    <strong>Azhar Aboobaker  -</strong> Quality Assurance Authority<br />
    <strong>Lourena do Rosario -</strong> Communication Expert<br />
    <strong>Miengha Behardien -</strong> Programming Specialist<br />
    <strong>Valerie Tshiani -</strong>  Programmer <br /> 
</address>

<h3 align="center"> <Strong>What is this website</Strong> </h3>
<address>
    Meeting rooms within the Pick n Pay headquarters are a scarce resource. <br /> The proper usage of such a scarce resource is of paramount importance to ensure the smooth running of the Pick n Pay system.
    This website is an interface where the status of different meetings rooms are dynamically updated in real-time. <br /> It will allow employees of Pick n Pay to book meeting rooms and invite individuals to attend the meeting. <br /> The PnP MeetUp system will provide users with comprehensive, complete and accurate information on the usage and availability of meeting rooms within the campus.

</address>
