@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3> Want to get in touch with us?</h3>


<form align="center">
    <p align="center">
        <font size="4" color="black">
            Full name:<br> <input type="text" class="form-control" name="name" id="fullname" placeholder="Firstname and Lastname" autofocus /> <br>
            Address: <br>  <input type="text" class="form-control" name="address" placeholder="123 Example Street" autofocus /> <br>
            Email: <br> <input type="email" class="form-control" name="email" placeholder="example@domaim.com" autofocus /> <br>
            Phone: <br> <input type="text" class="form-control" name="phone" placeholder="(+27) 123 4567" autofocus /> <br>
            Query: <br> <textarea id="myTextArea" class="form-control" rows="3" cols="160" placeholder="Your text here"></textarea> <br>



            <button type="button" class="btn btn-default"> Submit </button>
        </font>
    </p>
</form>