
@{
    ViewBag.Title = "LandingPage";
}
<center>
    <h2>Welcome to PnP MeetUp</h2>
    <br />
    <br />

    <br />
    <img src="~/Images/PnP MeetUp.png" alt="Sample Image" width="800px" height="300px" />
</center>

<div>
    <h5 class="lead">
        <center>
            <span>Speed Up The Meet Up!</span>
        </center>
    </h5>
</div>
<center>
    <br />
    <br />
    <p><a class="btn btn-default" href="~/Account/Login">Login &raquo;</a></p>
</center>
